body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: #82B363;
}

body img {
    max-height: 400px;
    min-width: 100%;
    background-attachment: fixed;
}

header{
    background: #EFF6F8;
}

main {
    display: flex;
    justify-content: center;
    background: #499CAC;
}

.answers {
    display:flex;
    flex-direction: column;
    align-content: center;
}
.optionlist {
    list-style-type: none;
}

footer {
    display: flex;
    justify-content: center;
    background: #A17E81;
}

/* Colors: 
Offwhite: EFF6F8
Light Green: 82B363
Dark Green: 3D5F2F
Blue: 499CAC
Off Red: A17E81 */