header {
    background: #EFF6F8;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: #82B363;
}

main {
    display: flex;
    justify-content: center;
    background: #499CAC;
}

footer {
    display: flex;
    justify-content: center;
    background: #A17E81;
}